:host {		/* The ':host' selector targets this entire element itself! */
	display: block;
	margin-top: 10px;
}

.info-text {
	text-align: center;
}

mat-spinner {
	margin: auto;
}

.post-image {
	width: 100%;
	margin: 10px 0;
}

.post-image img {
	width: 100%;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

mat-paginator {
	margin-top: 20px;
}

.spacer {
	flex: 1 1 auto;		/* makes sure that the 'spacer' element takes all the remaining space between other elements */
}

.creator {
	margin-right: 20px;
}